alembic
amqp
appnope
asttokens
backcall
billiard 
boto3
botocore
celery
certifi
cffi
charset-normalizer
click
colorama
cryptography
decorator
executing
flask-cors
flask-migrate
flask-shell-ipython
flask-sqlalchemy
flask
idna
importlib-metadata
importlib-resources
ipython
itsdangerous
jedi
jinja2
jmespath
kombu
localstack-client
mako
markupsafe
matplotlib-inline
parso
pexpect
pickleshare
prompt-toolkit
psycopg2
ptyprocess
pure-eval
pycparser
pygments
pyjwt
python-dateutil
python-dotenv
pytz
redis
requests
s3transfer
six
sqlalchemy-utils
sqlalchemy
stack-data
traitlets
typing-extensions
urllib3
uwsgi
vine
wcwidth
werkzeug
zipp
twilio
openai 
google-genai